version: '3.8'

services:

  mongo:
    image: mongo:6
    container_name: mongo
    hostname: mongo
    restart: unless-stopped
    environment:
      - TZ=America/Sao_Paulo
    ports:
      - "27017:27017"
      - "27018:27017"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  opensearch:
    image: opensearchproject/opensearch:2.4.0
    container_name: opensearch
    hostname: opensearch
    depends_on:
      - mongo
    environment:
      - discovery.type=single-node
      - plugins.security.disabled=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
      - "9600:9600"
    restart: on-failure
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200"]
      interval: 10s
      timeout: 10s
      retries: 10

  graylog:
    image: graylog/graylog:5.2
    container_name: graylog
    hostname: graylog
    depends_on:
      mongo:
        condition: service_healthy
      opensearch:
        condition: service_healthy
    environment:
      GRAYLOG_PASSWORD_SECRET: "f62c92ac283e4f1f969ad5e71d4c7b2e11e9bdbf5e193ae7bb4e9b4e1e956e437c98a43cd624c5ea8a2c97b9463f96e8"
      GRAYLOG_ROOT_PASSWORD_SHA2: "8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918"
      GRAYLOG_HTTP_BIND_ADDRESS: "0.0.0.0:9000"
      GRAYLOG_HTTP_EXTERNAL_URI: "http://localhost:9000/"
      GRAYLOG_MONGODB_URI: "mongodb://mongo:27017/graylog"
      GRAYLOG_ELASTICSEARCH_HOSTS: "http://opensearch:9200"
      GRAYLOG_OPENSEARCH_HOSTS: "http://opensearch:9200"
    ports:
      - "9000:9000"
      - "12201:12201/udp"
    restart: on-failure
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/api"]
      interval: 10s
      timeout: 5s
      retries: 15

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    hostname: app
    ports:
      - "8080:8080"
    depends_on:
      mongo:
        condition: service_healthy
      graylog:
        condition: service_healthy
      opensearch:
        condition: service_healthy
    environment:
      SERVER_PORT: 8080
      MONGODB_URI: mongodb://mongo:27017/modulo1?serverSelectionTimeoutMs=15000&connectTimeoutMS=15000
      GELF_HOST: graylog
      GELF_PORT: 12201
